@page "/product-materials"
@inject HttpClient Http
@using System.Text.Json
@using System.Net.Http.Json
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<PageTitle>Materials Totals</PageTitle>

<div class="materials-page-container">
    
    <h1 class="materials-header">Materials Totals</h1>

    
    <div class="product-search-container">
        <input type="text" @bind="searchProductId" placeholder="Enter Product ID to search" class="product-search-input" />
        <button @onclick="SearchMaterialByProductId" class="product-search-button">Search</button>
    </div>

    <div class="product-materials-container">
        @if (MaterialsTotals == null)
        {
            <p>Welcome! Use the search bar above to explore product materials.</p>
        }
        else if (!MaterialsTotals.Any())
        {
            <p>No materials totals found for this Product ID.</p>
        }
        else
        {
            
            <div class="product-materials-table-container">
                <table class="product-materials-table">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Material ID</th>
                            <th>Material Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var material in MaterialsTotals)
                        {
                            <tr>
                                <td>@material.Product?.ProductID</td>
                                <td>@material.Product?.ProductName</td>
                                <td>@material.MaterialId</td>
                                <td>@material.MaterialName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            
            <div class="product-materials-details-table-container">
                <div class="table-wrapper">
                    <table class="product-materials-details-table">
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>ADP Fossil MJ</th>
                                <th>ADP Minerals Metals</th>
                                <th>AP Mol H Eq</th>
                                <th>E Fi CTUe</th>
                                <th>E Fm CTUe</th>
                                <th>E Fo CTUe</th>
                                <th>EP Terrestrial Mol N Eq</th>
                                <th>EP Freshwater kg P</th>
                                <th>EP Marine kg N</th>
                                <th>ETP FW CTUe</th>
                                <th>GWP Biogenic kg CO2</th>
                                <th>GWP Fossil kg CO2</th>
                                <th>GWP LULUC kg CO2</th>
                                <th>GWP Total kg CO2</th>
                                <th>HT CI CTUh</th>
                                <th>HT CM CTUh</th>
                                <th>HT CO CTUh</th>
                                <th>HT NCI CTUh</th>
                                <th>HT NCM CTUh</th>
                                <th>HT NCO CTUh</th>
                                <th>HTTP C CTUh</th>
                                <th>HTTP NC CTUh</th>
                                <th>IRP kBq U235</th>
                                <th>LU Pt</th>
                                <th>ODP kg CFC11</th>
                                <th>PM Disease Inc</th>
                                <th>POCP kg NMVOC</th>
                                <th>WDP m3 Depriv</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var material in MaterialsTotals)
                            {
                                <tr>
                                    <td>@material.Product?.ProductID</td>
                                    <td>@material.ADP_Fossil_MJ</td>
                                    <td>@material.ADP_Minerals_Metals</td>
                                    <td>@material.AP_Mol_H_Eq</td>
                                    <td>@material.E_Fi_CTUe</td>
                                    <td>@material.E_Fm_CTUe</td>
                                    <td>@material.E_Fo_CTUe</td>
                                    <td>@material.EP_Terrestrial_Mol_N_Eq</td>
                                    <td>@material.EP_Freshwater_kg_P</td>
                                    <td>@material.EP_Marine_kg_N</td>
                                    <td>@material.ETP_FW_CTUe</td>
                                    <td>@material.GWP_Biogenic_kg_CO2</td>
                                    <td>@material.GWP_Fossil_kg_CO2</td>
                                    <td>@material.GWP_LULUC_kg_CO2</td>
                                    <td>@material.GWP_Total_kg_CO2</td>
                                    <td>@material.HT_CI_CTUh</td>
                                    <td>@material.HT_CM_CTUh</td>
                                    <td>@material.HT_CO_CTUh</td>
                                    <td>@material.HT_NCI_CTUh</td>
                                    <td>@material.HT_NCM_CTUh</td>
                                    <td>@material.HT_NCO_CTUh</td>
                                    <td>@material.HTTP_C_CTUh</td>
                                    <td>@material.HTTP_NC_CTUh</td>
                                    <td>@material.IRP_kBq_U235</td>
                                    <td>@material.LU_Pt</td>
                                    <td>@material.ODP_kg_CFC11</td>
                                    <td>@material.PM_Disease_Inc</td>
                                    <td>@material.POCP_kg_NMVOC</td>
                                    <td>@material.WDP_m3_Depriv</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            
            <div class="product-materials-details-table-container">
                <div class="table-wrapper">
                    <h2>Material Variance</h2>
                    <table class="product-materials-details-table">
                        <thead>
                            <tr>
                                <th>Field</th>
                                <th>Min Value</th>
                                <th>Max Value</th>
                                <th>Percentage Variance</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var variance in MaterialVarianceResults)
                            {
                                <tr>
                                    <td>@variance.FieldName</td>
                                    <td>@variance.MinValue</td>
                                    <td>@variance.MaxValue</td>
                                    <td>@variance.PercentageVariance %</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private List<MaterialsTotal> MaterialsTotals;
    private List<MaterialVarianceResult> MaterialVarianceResults;
    private string searchProductId = string.Empty;

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        searchProductId = queryParams["productId"];

        if (!string.IsNullOrEmpty(searchProductId))
        {
            SearchMaterialByProductId();
        }
    }

    private async Task SearchMaterialByProductId()
    {
        if (!string.IsNullOrEmpty(searchProductId))
        {
            try
            {
                var options = new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                };

                MaterialsTotals = await Http.GetFromJsonAsync<List<MaterialsTotal>>($"https://localhost:7073/api/Product/productGroup/{searchProductId}", options);

                MaterialVarianceResults = await Http.GetFromJsonAsync<List<MaterialVarianceResult>>($"https://localhost:7073/api/MaterialVariance/variance?productId={searchProductId}", options);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error fetching materials totals: {ex.Message}");
            }
        }
    }

    public class MaterialVarianceResult
    {
        public string FieldName { get; set; }
        public float MinValue { get; set; }
        public float MaxValue { get; set; }
        public float PercentageVariance { get; set; }
    }

    public class MaterialsTotal
    {
        public int MaterialId { get; set; }
        public string MaterialName { get; set; }
        public string ProductID { get; set; }
        public virtual Product Product { get; set; }

        public double ADP_Fossil_MJ { get; set; }
        public double ADP_Minerals_Metals { get; set; }
        public double AP_Mol_H_Eq { get; set; }
        public double E_Fi_CTUe { get; set; }
        public double E_Fm_CTUe { get; set; }
        public double E_Fo_CTUe { get; set; }
        public double EP_Terrestrial_Mol_N_Eq { get; set; }
        public double EP_Freshwater_kg_P { get; set; }
        public double EP_Marine_kg_N { get; set; }
        public double ETP_FW_CTUe { get; set; }
        public double GWP_Biogenic_kg_CO2 { get; set; }
        public double GWP_Fossil_kg_CO2 { get; set; }
        public double GWP_LULUC_kg_CO2 { get; set; }
        public double GWP_Total_kg_CO2 { get; set; }
        public double HT_CI_CTUh { get; set; }
        public double HT_CM_CTUh { get; set; }
        public double HT_CO_CTUh { get; set; }
        public double HT_NCI_CTUh { get; set; }
        public double HT_NCM_CTUh { get; set; }
        public double HT_NCO_CTUh { get; set; }
        public double HTTP_C_CTUh { get; set; }
        public double HTTP_NC_CTUh { get; set; }
        public double IRP_kBq_U235 { get; set; }
        public double LU_Pt { get; set; }
        public double ODP_kg_CFC11 { get; set; }
        public double PM_Disease_Inc { get; set; }
        public double POCP_kg_NMVOC { get; set; }
        public double WDP_m3_Depriv { get; set; }
    }

    public class Product
    {
        public string ProductName { get; set; } = string.Empty;
        public string ProductID { get; set; }
    }
}
